<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>E-VIVRIER | site officiel</title>
</head>
<body>

     <header id="accueil">
        <section class="haut-de-page"> <!--haut-de-page-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-logo">
                        <a href="#accueil">E<span class="bk"></span></a> 
                    </div>
                    <div class="col-md-4 social">
                       <a href="wwww.facebook.com" target="blank"><i class="fab fa-facebook"></i></a>  <a href="www.twitter.com" target="blank"><i class="fab fa-twitter"></i></a>  <a href="www.google-plus.com"><i class="fab fa-google-plus"></i></a>
                    </div>
                    <div class="col-md-4 user-icon">
                        <a href="/loggin"><i class="fa fa-user"></i></a> 
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-md"> <!--Navbar-->
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="mot-menu">Menu</div> 
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="navbar-nav"> 
                            <li><a href="#" class="nav-link btn btn-success">Accueil</a></li>
                            <li><a href="/communaute" class="nav-link">communaute</a></li>
                          
                            <li><a href="#contact" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>  <!--E.haut-de-page-->
    </header>
    

    
 <section class="bienvenue"> <!--bienvenue-->
        <div class="container">
            <div class="container mot-bienvenu">Tout savoir sur le monde du vivrier</div>

            <div id="mon-carousel" class="carousel slide" data-ride="carousel"> <!--div principal carousel-->
                <!--indicator-->
                <ol class="carousel-indicators">
                    <li data-target="#mon-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mon-carousel" data-slide-to="1"></li>
                    <li data-target="#mon-carousel" data-slide-to="2"></li>
                </ol>
                     <!--carousel body-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"> <!--1er carousel-->
                        <img src="images/slide2.jpg" class="img-fluid">
                        <div class="carousel-caption">
                            <h2 class="premier-h2">Au plus pres devous</h2>
                            <h2 class="deuxieme-h2">pour vous donner un sourire!</h2>
                        </div>
                    </div>
        
                    <div class="carousel-item">  <!--2 elmt-->
                        <img src="images/slide1.jpg" class="img-fluid">
                        <div class="carousel-caption">
                           <h2 class="premier-h2">nos Experts étudient</h2>
                            <h2 class="deuxieme-h2">votre projet et vous éclaire !</h2>
                        </div>
                    </div>
        
                    <div class="carousel-item">  <!--3 elmt-->
                        <img src="images/slide3.jpg" class="img-fluid">
                        <div class="carousel-caption">
                            
                            <h2 class="deuxieme-h2">Vous avez envi d'investir dans le monde du vivrier?</h2>
                        </div>
                    </div>        
                </div>
                    <!--fleche left- right-->
                <a href="#mon-carousel" class="carousel-control-prev" role="button" data-slide="prev"> <i class="fa fa-chevron-left"></i></a>
                <a href="#mon-carousel" class="carousel-control-next" role="button" data-slide="next"> <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </section><!--E.bienvenue-->

    <div class="DK-transform"> <!--DK transorm-->
        <section class="avantage"><!--Avantage-->
            <div class="container">
                <div class="mot-avantage">
                    <div id="avantage">E-vivrier</div>
                    <P>Notre expérience fera toujour la difference !</P>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        
                            
                        <img src="images/4.jpg" style="width:350px; height:350px">
                
          
                 </div>
 
                    <div class="col-md-4">
                        
                            
                        <img src="images/3.jpg" style="width:350px; height:350px">
                
          
                 </div>

                    <div class="col-md-4">
                        
                            
                            <img src="images/2.jpg" style="width:350px; height:350px">
                    
              
                     </div>
                
            <section class="service"> <!--service in avantage-->
                <div class="container">
                    <div class="mot-service">
                        <div id="service">Le meilleur des marchés</div>
                        <p> le kilo du gombo passe à 1500fcfa : un hectar vaut donc 2.935.600fcfa 
                            <div class="divider-blue"></div>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-globe-africa"></i>
                                <h4>NATIONAL</h4>
                                <p>toutes les infos sur le marché du vivrier en cote d'ivoire.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-mobile"></i>
                                <h4>Booking</h4>
                                <p>contactez d'eventuels patenaires ou clients avec qui collaborer .</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-dollar-sign"></i>
                                <h4>BENEFICE</h4>
                                <p> Gager jusqu'a 40% de benefice sur vos gains.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-credit-card"></i>
                                <h4>FIDELITE</h4>
                                <p>Obtenez une carte premium et distinguez vous des autres dans la quette de clients ou de d'achetteurs.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-gift"></i>
                                <h4> LES AWARDS</h4>
                                <p>Nous recompensons les meilleur du vivrier en cote d'ivoire chaque année.Votre réussite notre priorité.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="elmt-service">
                                <i class="fa fa-arrow-up"></i>
                                <h4>PRISE EN MAIN</h4>
                                <p>Vous etes  un particulier n'ayant pas le temps vu ses occupation? E-vivirer s'occupe de votre projet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!--E.service-->

        </section> <!--E.Avantage-->
    </div> <!--E.DK transorm-->

    
        <section class="nos-partenaires"><!--nos-partenaires-->
            <div class="container">
                <div class="mot-partenaire"><span id="partenaires">E-VIVRIER</span> </div>
                <div class="divider-blue-partenaire"></div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/1.jpg" class="img-thumbnail" alt="">
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/c.jpg" class="img-thumbnail" alt="">
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/n.jpg" class="img-thumbnail" alt="">
                    </div>

                      <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/caro.jpg" class="img-thumbnail" alt="">
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/nn.jpg" class="img-thumbnail" alt="">
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/g.jpg" class="img-thumbnail" alt="">
                    </div>

                   

                   

                    <!-- <div class="col-xs-6 col-sm-4 col-md-2">
                        <img src="images/DKcc.gif" class="img-thumbnail" alt="">
                    </div> -->
                </div>
            </div>
        </section> <!--E.nos-partenaires-->

        <section class="contact"> <!--Contact-->
            
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mot-form"><span id="contact">Restons en contact</span></div> 
                    </div>
                    <div class="col-md-6">
                        <form method="POST" action="/">
                            <div class="form-group">
                                <input type="text" name="nom" id="nom" class="form-control mb-4" placeholder="Nom complet">
                                <input type="email" name="email" id="email" class="form-control mb-4" placeholder="Email">
                                <input type="number" name="telephone" id="telephone" class="form-control mb-4" placeholder="telephone">
                                <textarea name="message" id="message" class="form-control mb-4" placeholder="Message"></textarea>
                                <button type="submit" name="button" class="btn btn-success" onclick="two()"><i class="fa fa-paper-plane"></i> Envoyer</button>
                            </div>
                        </form>
                        <script >
                            function two(){
                    alert("votre message à bien été envoyez ");
             }

                        </script>    
                    </div>
                </div>
            </div>
        </section> <!--E.Contact-->
    <!-- </div> -->
       
    <footer> <!--Footer-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1> E-vivrier</h1>
                    <P>fiabilité, securité, experience <br/>
                        Evivrier@corp.ci  |  21 22 23 24 | 68 00 00 00
                    </P>
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-user-circle"></i>
                    <h2>Espace membre</h2>
                    <h5>inscription, communaute, conseil</h5>
                    <a href="/register" class="btn btn-outline-primary" type="button" role="button"> S'inscrire</a>
                    <a href="/loggin"class="btn btn-success" type="button" role="button"> Se connecter</a>
                </div>
            </div>  
            <div class="col-sm-12">
                <div class="copyright">
                    <div>
                        <i class="fa fa-copyright"></i>  copyright - tout droit reservé à E-vivrier
                        <p>site creer par <span id="aniki">Aniki hvck</span></p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer> <!--E.Footer-->

    <script src="bootstrap/js/jquery-3.2.1.slim.min.js"></script>
    <script src="bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
</body>
</html>